@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto-Regular.ttf");
    font-weight: 300;
}

@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: Forum;
    src: url("assets/fonts/Forum-Regular.ttf");
}   

html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto;
    color: #FFFFFF;
}

.landpg-header-wrapper {
    background: #030303;
    max-width: 1920px;
    max-height: 200px;

}
/* header styles */

.landpg-header-container {
    background: #030303;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 74px 240px 76px 240px;
    margin: 0 auto;
}

.logo{
    display: flex;
    align-items: center;
    max-width: 195px;
    line-height: 50px;
}

.logoimg {
    background-image: url("assets/svg/logo.svg");
    width: 49px;
    height: 26px;
}

.logotext {
    font-family: Forum;
    font-size: 28px;
    line-height: 50px;
    letter-spacing: 2px;
    padding-left: 20px;
    text-transform: uppercase;
}

.landpg-header-nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 720px;
}

.landpg-header-nav li{
    list-style: none;
    font-weight: 100;
    font-size: 22px;
    padding: 0 18px;
    line-height: 50px;

  }

.landpg-header-nav A {
    text-decoration: none;
    color: #FFFFFF;
}

/* main styles */

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* welcome styles */

.landpg-welcome-container {
    position: absolute;
    max-width: 1920px;
    height: 750px;
    background: #030303;
}

.welcome-txt {
    position: absolute;
    left: 240px;
    top: 114px;
}

.btn-discover {
    position: absolute;
    top: 315px;
    width: 360px;
    height: 75px;
    border-radius: 10px;
    color: #FFFFFF;
    background: #710707;
    font-weight: 200;
    font-size: 22px;
    line-height: 25,78px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 76px;
}

.welcome-img {
    padding-left: 705px;
}

h2 {
    font-family: Forum;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.section-subtitle {
    position: absolute;
    padding-top: 26px;
    top: 206px;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;   
}

section{
    border: 1px solid red;
}

